html {
    background:url('img.jpg');
    background-size: cover;
        }
body {
  margin: 0;
}
.upper_top_head {
  display: grid;
  grid-template-columns: 2fr 5fr 0.5fr;
  background:linear-gradient(90deg,
    rgba(255, 255, 255, 0)0%,
    rgba(255, 255, 255, 0.4)25%,
    rgba(255, 255, 255, 0.4)75%,
    rgba(255, 255, 255, 0)100%);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.6),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
    
}
.nav {
  font-size: 30px;
}
.left {
  background-color: white;
  border-radius: 0 30px 30px 0;
}
.back {
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 80%;
}
.left > span > a {
  text-decoration="none"
} 
.left > span {
  position: relative;
  text-align: center;
  top: 30px;
}
.middle {
  position:relative;
  left: 80px; 
}
.middle > span {
  position:relative;
  top: -25px;
  color: #02ba4c;
}
.middle > embed {
  width: 100px;
}
.right {
  position: relative;
  top: 20px;
}
.lower_top_head {
  background-color: black;
  color: white;
  position: relative;
  top: -30px;
}
a:link{
  text-decoration: none;
}
menu {
  font-size: 30px;
  word-spacing: 200px;
  border: 10px solid green;
  border-top-style: none;
}
span {
  cursor: pointer;
}
h1 {
  color: blue;
  font-size: 100px;
}
