html {
    background:url('img.jpg');
    background-size: cover;
        }
body {
  margin: 0;
}
p {
  background-color: blue;
  width: 200px;
  position: absolute;
  padding: 40px;
  z-index: 9;
}
#save_earth .back {
  background-image:url("universe.jpg");
  padding: 35px;
  padding-left: 20px;
}
#save_earth {
  position: relative;
}
#save_earth .imageearth > img {
  border-radius: 100%;
  width: 90px;
  position: absolute;
  top: 20px;
}
#save_earth .menu {
  font-size: 40px;
  color: green;
  position: relative;
  top: 20px;
  left: 100px;
}
a:link{
  text-decoration: none;
}
menu {
  position: relative;
  top: -30px;
  font-size: 30px;
  word-spacing: 300px;
  border: 10px solid green;
  border-top-style: none;
}
span {
  cursor: pointer;
}
h1 {
  color: blue;
  font-size: 100px;
}
